body
{
  background-color: #997a85;
  padding: 0;
  text-align: center;
	background-size: cover;
}
div#gameBoard {
 background:#DADADA;
 border:#999 1px solid;
 width: 800px;
 height: 540px;
 padding: 24px;
 margin: 0px auto;
}
