body
ul
{
  background-color: #997a85;
  padding: 0;  margin: 0;
}

.flip-container {
  perspective: 1000px;
  padding: 0;
  text-align: center;
	background-size: cover;
}
div#gameBoard {
 background:#DADADA;
 border:#999 1px solid;
 width: 800px;
 height: 540px;
 padding: 24px;
 margin: 0px auto;
}
div#gameBoard > div {
 background: #FF3399;
 border: #000 1px solid;
 width: 71px;
 height: 71px;
 float: left;
 margin: 10px;
 padding: 20px;
 font-size: 64px;
 cursor: pointer;
 text-align: center;
  float: left;
  margin: 10px;
  list-style: none;
}
body{
  width: 1250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
 .reset{
   width:200px;
   height:50px;
  margin-left: auto;
  margin-right: auto;
}
/* flip the pane when clicked */
.flip-container.flip .flipper
{
  transform: rotateY(180deg);
}
